body{
  font-family: 'Alegreya Sans', sans-serif;
  color: #042742;
  text-shadow: none !important;
}
* {
  margin: 0;
  padding: 0;
}
.btn-primary{
  background-color: #FFC844;
  color: #042742;
  border-color: transparent;
  border-radius: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
  &:hover{
    background-color: #FFC844;
    color: #042742;
    border-color: transparent;
  }
  &:active{
    background-color: #FFC844 !important;
    color: #042742 !important;
    border-color: transparent !important;
  }
  &:focus{
    background-color: #FFC844 !important;
    color: #042742 !important;
    border-color: transparent !important;
    box-shadow: none;
  }
}
.btn-primary2{
  background-color: #003057;
  color: #fff;
  border-color: transparent;
  border-radius: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
  &:hover{
    background-color: #003057;
    color: #fff;
    border-color: transparent;
  }
  &:active{
    background-color: #003057 !important;
    color: #fff !important;
    border-color: transparent !important;
  }
}
.btn-secondary{
  background-color: #fff;
  color: #042742;
  border-color: transparent;
  border-radius: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
  &:hover{
    background-color: #fff;
    color: #042742;
    border-color: transparent;
  }
  &:active{
    background-color: #fff !important;
    color: #042742 !important;
    border-color: transparent !important;
  }
}
.btn-thirdy{
  background-color: #fff;
  color: #042742;
  border: 1px solid #FFC844;
  border-radius: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
  &:hover{
    background-color: #fff;
    color: #042742;
    border-color: #FFC844;
  }
  &:active{
    background-color: #fff !important;
    color: #042742 !important;
    border-color: #FFC844 !important;
  }
  &:focus{
    background-color: #fff !important;
    color: #042742 !important;
    border-color: #FFC844 !important;
    box-shadow: none;
  }
}
.ml-1{
  margin-left: 1rem !important;
}
.ml-2{
  margin-left: 2rem !important;
}
.mt-0h{
  margin-top: .5rem !important;
}
.mt-1{
  margin-top: 1rem !important;
}
.mb-1{
  margin-bottom: 1rem !important;
}
.mb-2{
  margin-bottom: 2rem !important;
}
.mb-3{
  margin-bottom: 3rem !important;
}
.mb-4{
  margin-bottom: 4rem !important;
}
.mt-2{
  margin-top: 2rem !important;
}
.mt-3{
  margin-top: 3rem !important;
}
.mr-0{
  margin-right: 0 !important;
}
.mr-1{
  margin-right: 1rem !important;
}
.mr-2{
  margin-right: 2rem !important;
}
.ml-0{
  margin-left: 0 !important;
}
.pr-0{
  padding-right: 0 !important;
}
.pr-1{
  padding-right: 1rem !important;
}
.pl-0{
  padding-left: 0 !important;
}
.pl-1{
  padding-left: 1rem !important;
}
.pl-2{
  padding-left: 2rem !important;
}
.img-auto{
  object-fit: cover;
}
.img-margin{
  margin: 0 auto;
}
.text-yellow{
  color: #FFC844 !important;
}
.text-blue{
  color: #4D8BC0 !important;
}
.text-red{
  color: #FF0000 !important;
}
.title{
  font-size: 40px;
  text-transform: uppercase; 
  line-height: 40px;
}
section{
  padding: 60px 0;
  &.pad-side{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
p{
  font-weight: 400;
}
ul{
  line-height: 2rem;
  &.two-list{
    columns: 130px 2;
    column-gap: 40px;
    &.no-symbol{
      list-style: none;
    }
    li{
      margin-bottom: 20px;
    }
  }
}
a {
  text-decoration: none;
  color: #042742;
  font-weight: 400;
  &:hover{
    text-decoration: none;
    color: #042742;
  }
}
.fw-400{
  font-weight: 400;
}
.fw-500{
  font-weight: 500;
}
.fw-600{
  font-weight: 600;
}
.fw-900{
  font-weight: 900;
}
.f-white{
  color: white !important;
}
.w-100{
  width: 100%;
}

// top navbar
.top-bar{
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: transparent;
  }
  .nav-pills .nav-link{
    border-radius: 0;
    padding: 0
  }
  &.sticky{
    position: sticky;
    top: 0;
    z-index: 99;
  }
  a{
    font-weight: 400;
    &.nav-link{
      font-size: .8rem;
    }
    &.dropdown-toggle{
      &::after{
        margin-left: 10px;
      }
    }
  }
  li{
    &.nav-item{
      width: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .link-icon{
    a{
      display: flex;
      align-items: center;
    }
  }
}

// navbar
.navbar{
  &.navbar-light{
    &.bg-light{
      background-color: white !important;
      box-shadow: 0px 7px 16px -4px rgba(0,0,0,0.05);
      position: relative;
      z-index: 2;
    }
  }
 
  .navbar-collapse{
    .nav-item{
      a{
        font-size: .8rem;
      }
    }
    .navbar-nav{
      li{
        &:last-child{
          margin-left: 1.5rem;
        }
      }
    }
  }
}

// Carousel
.carousel{
  .slide-wording{
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    h1{
      text-shadow: none;
      &:nth-child(1){
        font-size: 40px;
        font-weight: 500;
      }
      &:nth-child(2){
        font-size: 60px;
        font-weight: 900;
      }
    }
  }
}
.badge-fast{
  right: 0;
  bottom: 50%;
  transform: translateY(-50%);
  position: absolute;
  background-color: #FFC844;
  border-radius: 8px 0 0 8px;
  color: #042742;
  padding: 1rem 2rem;
  text-align: center;
}

// mega-menu
.mega-menu{
  position: absolute;
  background-color: white;
  z-index: 3;
  width: 100vw;
  padding: 2rem 0;
  .title{
    font-size: 20px;
    margin-bottom: .75rem;
    font-weight: 500;
  }
  ul{
    list-style: none;
    li{
      & +li{
        margin-top: .5rem;
      }
      a{
        font-weight: 300;
      }
    }
  }
}
.d-hide{
  display: none;
}

// Store
.find-store{
  .left-content{
    background-color: #FFC844;
    display: flex;
    align-items: center;
    justify-content: center;
    .content{
      font-size: 60px;
    }
  }
}

// product
.our-product{
  .slick-track{
    margin: 1rem 1.5rem;
    .slick-slide {
      padding: .5rem;
    }
  }
  .our-products{
    padding: 1rem;
    box-shadow: 0px 7px 16px -4px rgba(0, 0, 0, .3);
    border-radius: 8px;
  }
  .product-title{
    font-size: 24px;
    cursor: pointer;
  }
  .product-rating{
    display: flex;
    img + img{
      margin-left: 6px;
    }
  }
  .product-price{
    margin-top: .5rem;
    font-size: 24px;
    font-weight: 300;
  }
}

// review
.reviews{
  .slick-track{
    margin: 1rem 1.5rem;
    display: flex !important;
    align-items: flex-end;
    .slick-slide {
      padding: .5rem;
    }
  }
  .user-review{
    padding: 1rem;
    box-shadow: 0px 7px 16px -4px rgba(0, 0, 0, .3);
    border-radius: 8px;
  }
}


// benefit
.benefit{
  padding: 2rem 1rem;
  background-color: #FFE3C4;
  border-radius: 32px;
  .benefit-title{
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
  }
  .benefit-subtitle{
    font-size: 20px;
  }
}

// footer
.footer{
  background-color: #042742;
  color: white;
  .stay{
    font-size: 1.5rem;
    font-weight: 500;
  }
  .form-subscribe{
    border-radius: 50px;
  }
  .sosmed{
    display: flex;
    img {
      margin-right: 10px;
    }
  }
  .title-link{
    font-weight: 600;
    margin-bottom: .5rem;
  }
  ul{
    &.list-link{
      list-style: none;
      text-decoration: none;
      line-height: 30px;
      a{
        font-size: 14px;
        color: white;
      }
    }
  }
  .copyright{
    font-size: 12px;
    opacity: .7;
  }
}
.hr-white{
  border-top: 1px solid white;
}

.signIn{
  align-items: center;
  justify-content: center;
  display: flex;
  .box{
    width: 400px;
    .button-login{
      margin-top: 2rem;
      .btn{
        width: 100%;
        margin: 0 auto;
      }
    }
    .forgot{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1rem;
    }
    .form-group{
      .custom-radio{
        margin-right: 2rem;
      }
    }
  }
}
.img-signIn{
  height: 100vh;
  object-fit: cover;
}


// product
.box-product{
  padding: 0.5rem 1rem;
  .title{
    font-weight: 500;
  }
  .img-product{
    max-height: 350px;
    height: 350px;
    object-fit: cover;
  }
  .box-price{
    padding: 1rem;
    height: 350px;
    box-shadow: 1px 5px 16px -4px rgba(0,0,0,0.2);
  }
  .left{
    display: grid
  }
  .add-sleeve{
    // margin-top: 3rem;
    .title{
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}
.size-info{
  text-align: center;
  .img-size{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    object-fit: cover;
  }
  .info-desc{
    font-size: 1.25rem;
    margin-top: 1rem;
  }
}
.tabs{
  .tab-padding{
    padding-bottom: 60px;
  }
  .nav{
    &.nav-tabs{
      li{
        width: 20%;
        text-align: center;
      }
    }
  }
}
.listing-product{
  ul{
    list-style: none;
    li{
      text-align: center;
      font-size: 1.5rem;
      font-weight: 500;
      border-bottom: 1px solid #f0efef;
      padding: 1rem;
    }
  }
}
.newest-review{
  padding: 1rem;
  border: 1px solid #062742;
  margin-bottom: 1rem;
  p{
    margin-bottom: 0;
  }
}
.leave-review{
  position: relative;
  // padding-left: 3rem;
  .title{
    font-size: 18px;
    font-weight: 500;
  }
  // &::before{
  //   content: '';
  //   position: absolute;
  //   left: 1.5rem;
  //   width: 2px;
  //   height: 60px;
  //   background-color: #C7C7C7;
  //   top: 50%;
  //   transform: translateY(-50%);
  // }
}
.logo.top{
  cursor: pointer;
  padding: 1rem;
}

// static
.static-info{
  position: relative;
  .box-desc{
    background-color: white;
    margin-top: -3rem;
    z-index: 1;
    position: relative;
    padding: 2rem;
    border-radius: 40px 40px 0 0 ;
  }
  .subtitle{
    font-size: 18px;
    font-weight: 600;
  }
  .definitions{
    li{
      line-height: 2rem;
      &+li{
        margin-top: 1rem;
      }
    }
  }
  .left-tab{
    font-size: 1.5rem;
    font-weight: 500;
    list-style: decimal;
    li{
      cursor: pointer;
      border-bottom: 1px solid #C7C7C7;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
    }
  }
}
.img-separator{
  &.with-info{
    color: #00305A;
    .info{
      position: absolute;
      width: 425px;
      padding: 2rem;
      border-radius: 32px;
      &.bc-blue{
        background-color: #00305A;
        color: white;
      }
      &.bc-yellow{
        background-color: #FCD672;
      }
      &.right{
        right: 15px;
      }
      &.left{
        left: 15px;
      }
      .title{
        line-height: 2.2rem;
        text-align: center;
        margin-bottom: 1rem;
      }
    }
  }
}
.join-tribe{
  height: 360px;
  background-color: #FF8300;
  padding: 1.5rem;
  border-radius: 40px;
  text-align: center;
  .title{
    line-height: 40px;
    color: #fff;
    margin-bottom: 3rem;
  }
  p{
    color: #fff;
    margin-bottom: 2rem;
  }
}
.img-tribe{
  height: calc(100% - 360px);
}
.input-group{
  &.search{
    width: 20%;
    position: relative;
    .input-group-prepend{
      position: absolute;
      z-index: 1;
      left: 16;
      top: 50%;
      transform: translateY(-50%);
    }
    input{
      padding-left: 40px;
      border-radius: 20px !important;
      border-color: #A2C7E2;
    }
  }
}
.acc-product{
  position: relative;
  left: 80px;
  &+.acc-product{
    margin-top: 2rem;
  }
  .title{
    font-weight: normal;
  }
  .left{
    border-radius: 40px;
    padding: 1rem;
    text-align: center;
    height: 220px;
    position: relative;
    z-index: 2;
    &.hammock{
      background-color: #FFC844;
    }
    &.chairs{
      background-color: #FFE3C4;
    }
    &.backpacks{
      background-color: #FFC27A;
    }
    &.bags{
      background-color: #FF8300;
      color: #fff;
    }
    &.accessories{
      background-color: #E1EBF1;
    }
    &.suspension{
      background-color: #003057;
      color: #fff;
    }
    &.tools{
      background-color: #A2C7E2;
    }
    &.others{
      background-color: #FCD672;
    }
  }
  .right{
    position: relative;
    z-index: 1;
    left: -80px;
    img{
      height: 220px;
      object-fit: fill;
    }
  }
}
.collapse-acc-product{
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 70px;
  .our-products{
    padding: 2rem;
    box-shadow: 0px 7px 16px -4px rgba(0, 0, 0, .3);
    border-radius: 40px;
  }
}
.detail-product{
  .pic{
    height: 230px;
    max-height: 230px;
    object-fit: cover;
  }
  .action{
    margin-top: 2rem;
    img{
      margin-right: 1rem;
      cursor: pointer;
    }
  }
  .thumbnail{
    display: flex;
    margin-top: 2rem;
    img{
      cursor: pointer;
    }
  }
}
.spec-product{
  padding-left: 2rem;
  .card{
    border: 1px solid #A2C7E2;
    background-color: #fff;
    border-radius: 40px;
    .title{
      font-size: 1rem;
    }
    &.size{
      .option{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 50px;
        border: 1px solid #A2C7E2;
        cursor: pointer;
        &.active{
          background-color: #FFC844;
          color: #00305A;
          border: 0;
        }
        &+.option{
          margin-top: 1rem;
        }
      }
    }
    .color{
      display: flex;
      align-items: center;
      cursor: pointer;
      .selected-color{
        height: 30px;
        width: 92%;
        border-radius: 50px;
        &.orange{
          background-color: #F85A28;
        }
        &.dark-brown{
          background-color: #5D504F;
        }
      }
    }
    .accessories{
      height: 150px;
      object-fit: contain;
    }
  }
  .accordion{
    margin-top: 2rem;
    .card-header{
      background-color: transparent;
      border-bottom: 1px solid #707070;
    }
    .btn-info{
      background-color: transparent;
      border-color: transparent;
      color: #00305A;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      &:active{
        background-color: transparent;
        border-color: transparent;
        color: #00305A;
        box-shadow: none !important;
      }
      &:focus{
        background-color: transparent;
        border-color: transparent;
        color: #00305A;
        box-shadow: none !important;
      }
    }
  }
  .user-review{
    padding: 2rem;
    box-shadow: 0px 7px 16px -4px rgba(0, 0, 0, .3);
    border-radius: 40px;
  }
}
.detail-title{
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.our-products{
  padding: 2rem;
  box-shadow: 0px 7px 16px -4px rgba(0, 0, 0, .3);
  border-radius: 40px;
}
.bundles{
  .info{
    padding: 2rem;
    border-radius: 32px;
    &.bc-yellow{
      background-color: #FCD672;
    }
    &.backpacks{
      background-color: #FFC27A;
    }
  }
}
.gallery{
  .slick-track{
    display: flex !important;
    align-items: flex-end;
  }
  .slick-slide{
    padding: 0 1rem;
    img{
      height: 350px;
      opacity: .5;
    }
    &.slick-active{
      img{
        height: auto;
        opacity: 1;
      }
    }
  }
}
.info-contact{
  padding: 8rem;
  box-shadow: 0px 7px 16px -4px rgba(0, 0, 0, .3);
  border-radius: 40px;
}
.download{
  position: relative;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
  }
  .btn{
    position: absolute;
    bottom: 24px;
    width: 90% !important;
    left: 50%;
    transform: translateX(-50%);
  }
}
.rounded-radius{
  &.form-control{
    border: 1px solid #042742;
    border-radius: 20px;
  }
  &.custom-select{
    border: 1px solid #042742;
    border-radius: 20px;
  }
}
.variants > div:last-of-type {
  margin-right: 0;
}
.file {
  position: relative;
}

.file > input[type='file'] {
  display: none
}

.file > label {
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  outline: 0;
  user-select: none;
  border-width: 1px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 29%);
  padding-left: 16px;
  padding-right: 16px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #042742;
  border-radius: 20px;
}

.file > label:hover {
  border-color: hsl(0, 0%, 21%);
}

.file > label:active {
  background-color: hsl(0, 0%, 96%);
}

.file > label > i {
  padding-right: 5px;
}

.tracking-input{
  display: flex;
  align-items: center;
  padding-right: 2rem;
  margin-top: 2rem;
  label{
    width: 200px;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 600;
  }
}
.btn-tracking{
  width: 250px;
  align-self: flex-end;
  margin-bottom: 1rem;;
}
.foundation-pos{
  position: absolute;
  background-color: #FFC844;
  padding: 1rem 2rem 1rem 4rem;
  left: 0;
  bottom: 20px;
  border-radius: 0 20px 20px 0;
  font-size: 1.25rem;
}
.foundation-scroll{
  height: 200px;
  max-height: 200px;
  overflow-y: auto;
  overflow: -moz-scrollbars-vertical; 
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
}
.milestone{
  counter-reset: chapter;
  .list{
    padding-left: 3.5rem;
    &+.list{
      margin-top: 1rem;
    }
    &::before{
      content: counter(chapter) '';
      counter-increment: chapter;
      padding-right: 1rem;
      font-weight: 600;
      position: absolute;
      left: 14px;
    }
    &:first-of-type{
      &::before{
        counter-set: chapter 2006;
      }
    }
  }
}
.join-instagram{
  height: 100%;
  background-color: #FF8300;
  padding: 2.5rem;
  border-radius: 40px;
  text-align: center;
  display: grid;
  align-items: end;
  .title{
    line-height: 40px;
    color: #fff;
    margin-bottom: 3rem;
  }
  p{
    color: #fff;
    margin-bottom: 2rem;
  }
}
.accordion{
  margin-top: 2rem;
  &.faq{
    .card-header{
      background-color: transparent;
      border-bottom: 0;
    }
    .btn-info{
      background-color: transparent;
      border-color: transparent;
      color: #00305A;
      font-weight: 600;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      &:active{
        background-color: transparent;
        border-color: transparent;
        color: #00305A;
        box-shadow: none !important;
      }
      &:focus{
        background-color: transparent;
        border-color: transparent;
        color: #00305A;
        box-shadow: none !important;
      }
    }
  }
}
.faq-category{
  .category{
    border-bottom: 1px solid #E2E2E2;
    padding: 1rem;
    cursor: pointer;
    &+.category{
      margin-top: 1rem;
    }
    &.active{
      background-color: #00305A;
      color: #fff;
    }
  }
}
.history-step{
  position: relative;
  display: flex;
  align-items: center;
  overflow-y: auto;
  height: 200px;
  &::before{
    content: '';
    border-bottom: 2px solid #8098AB;
    position: absolute;
    width: 100%;
  }
  .step{
    position: relative;
    top: -36px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    &.active{
      top: -60px;
      position: relative;
      cursor: unset;
      &::before{
        position: absolute;
        content: '';
        background-color: #FFC844;
        width: 48px;
        height: 48px;
        border-radius: 50px;
        top: 50px;
        left: 53%;
        transform: translateX(-50%);
        z-index: 2;
      }
      &::after{
        position: absolute;
        content: '';
        background-color: #042742;
        width: 2px;
        height: 40px;
        left: 50%;
        top: 24px;
        z-index: 1;
      }
    }
    &+.step{
      margin-left: 10rem;
    }
    &::before{
      position: absolute;
      content: '';
      background-color: #033057;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      top: 34px;
      left: 50%;
      transform: translateX(-50%);
    }
    &::after{
      content: '';
      border-bottom: 2px solid #8098AB;
      position: absolute;
      width: 10rem;
      bottom: -25px;
    }
  }
}
.main-color{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: -2rem;
  .color{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    margin-top: 1rem;
    cursor: pointer;
     margin-left: 2rem;
    &+.color{
      margin-left: 2rem;
    }
    &.orange{
      background-color: #F85A28;
    }
    &.jade{
      background-color: #3D7456;
    }
    &.old-purple{
      background-color: #322A66;
    }
    &.pink{
      background-color: #E554B4;
    }
    &.green{
      background-color: #A6D383;
    }
    &.blue{
      background-color: #53DBED;
    }
    &.yellow{
      background-color: #FFC844;
    }
    &.white{
      background-color: #FFFFFF;
      border: 1px solid #333;
    }
    &.black{
      background-color: #000000;
    }
    &.dark-brown{
      background-color: #5D504F;
    }
  }
}
.quantity{
  &.counter{
    span{
      font-size: 1.25rem;
      &:nth-child(1){
        cursor: pointer;
        padding: 0 1rem;
      }
      &:nth-child(2){
        padding: 1rem;
      }
      &:nth-child(3){
        cursor: pointer;
        padding: 0 1rem;
      }
    }
  }
}